.menteesplus {
    margin: 0 7px;
    position: relative;
    margin-bottom: 25px;
}
.menteesplus a {
    text-decoration: none;
}
.menteesplus .menteestoggle  {
    cursor: pointer;
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    top: 0;
}
.menteesplus[data-menteestoggle="0"] .mentee {
    display: inline-block;
    margin-right: 10px;
}
.menteesplus[data-menteestoggle="1"] .mentee {
    clear: both;
    margin-bottom: 3px;
    overflow: hidden;
}
.menteesplus .menteename {
    overflow: hidden;
    vertical-align: top;
}
.menteesplus[data-menteestoggle="1"] .menteename {
    float: left;
    min-width: 150px;
    padding-right: 10px;
}
.menteesplus .menteecourses {
    display: none;
}
.menteesplus[data-menteestoggle="1"] .menteecourses {
    display: table;
}
.menteesplus .menteecourse {
    border-radius: 2px;
    margin: 2px;
    max-width: 200px;
    overflow: hidden;
    padding: 2px 5px;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    /* btn-primary */
    color: #fff;
    background-color: #005b94;
    border-color: #005b94;
    /* btn */
    display: inline-block;
    font-weight: 400;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    font-size: 13px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.menteesplus .menteecourse a {
    color: white;
}
.menteesplus .menteename .userpicture {
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}
.block_menteesplus .profile-title {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: .5rem;
}