.menteesplus[data-collapse="0"] .mentee {
    clear: both;
    margin-bottom: 3px;
    overflow: hidden;
}
.menteesplus[data-collapse="1"] .mentee {
    display: inline-block;
    margin-right: 10px;
}
.menteesplus[data-collapse="0"] .menteename {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    width: 150px;
}
.menteesplus[data-collapse="1"] .menteename {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    width: 150px;
}
.menteesplus[data-collapse="0"] .menteecourses {
    display: table;
    min-width: 400px;
}
.menteesplus[data-collapse="1"] .menteecourses {
    display: none;
}
.menteesplus .menteecourse {
    border-radius: 2px;
    margin: 2px;
    max-width: 200px;
    overflow: hidden;
    padding: 2px 5px;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}
.menteesplus .menteecourse a {
    color: white;
}
.menteesplus .menteestoggle {
    cursor: pointer;
    font-family: FontAwesome;
    position: absolute;
    right: 1.25rem;
    top: 0.55rem;
}
